//color
$color-primary:#55c57a;
$color-primary-light:#7ed56f;
$color-primary-dark:#28b485;
$color-grey-light-1:#f7f7f7;

$color-grey-dark:#777;
$color-white:#fff;
$color-black:#000;
$size:20px;
$weight:700;



$width-grid-row : 144rem;
$color-grid-row:#eee;
$gutter-horizontal:3rem;
$gutter-vertical:4rem;