.u-center-text{text-align: center;}
.u-padding-left{padding-left:10%;}
.u-padding-right{padding-right: 10%;}

.u-margen-small{margin-bottom: 1.4rem;}
.u-margen-medium{margin-bottom: 4rem;}
.u-margen-big{margin-bottom: 8rem;}

.u-margen2-big{margin-top: 8rem; } 

