.card{
    transition: all 0.8s;
	transform-style: preserve-3d;
    perspective: 100rem;
	position: relative;
    height:40rem;
    font-size: 2rem;
    

    &-side{
        height:40rem;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        box-shadow: 0 1.5rem 2rem rgba(#777,.8 );
        
        &-front{
            background-color:rgb(255, 255, 255);
            z-index: 2;
             
        }
    
        &-back{
            
            transform:rotateY(180deg);  
            &-1{
                background-image: linear-gradient(to right bottom ,$color-orange-light,$color-orange-dark);
            }
            &-2{
                background-image: linear-gradient(to right bottom ,$color-primary-light,$color-primary-dark) ;
            }
            &-3{
                background-image: linear-gradient(to right bottom ,$color-blue-light,$color-blue-dark);
            }
        }
    }    
}

.card:hover {
    transform: rotateY(180deg);
}