
.btn{
    &:link,
    &:visited{
        text-transform: uppercase;
        border: 1px solid #fff;
        display: inline-block;
        padding: 1rem 2rem;
        border-radius: 20rem;
        
        transition: all .2s;
        font-size: 1.6rem;

        position: relative;

    }
    

    &:hover{
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
    }
    
    &:active{
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0,.25);
    }
    
    &--white{
        background-color: #fff;
        text-decoration: none;
        color:rgb(0, 0, 0);

        &::after{
            background-color: #fff;
        }
        
        &:hover::after{
            transform: scalex(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &--green{
        background-color: $color-primary-dark;
        text-decoration: none;
        color:#fff;

        &::after{
            background-color: $color-primary-dark;
        }
        
        &:hover::after{
            transform: scalex(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    
    &::after{
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 20rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    
    &--animated{
        animation:  moveInBottom  1s ease-out .1s;
        animation-fill-mode:backwards;
    }

    
}

.btn-text{
    &:link,
    &:visited{
        font-size: 2rem;
        display: inline-block;
        text-decoration: none;
        border-bottom: .1rem solid rgb(11, 241, 50);
        color: rgb(11, 241, 50);
        padding: 1rem;
        text-transform: capitalize;
        transition: all .2s;
        backface-visibility: hidden;
    }
    

    &:hover{
        background-color: $color-primary-dark;
        border-bottom: 0;
        color: white;
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
    }
    &:active{
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0,.25);
    }
    
}